<%= content_for :body_setup do %>
  data-spy="scroll" data-target=".navbar"
<% end %>

<div class="row-fluid">
  <div class="span3 text-center">
    <h2>
      <%= image_tag "ilyaface.jpg", { :height => 300, :width => 200, :class => "img-circle", :alt => "Ilya" } %>
    </h2>
  </div>

  <div id="bio" class="span8 offset-half">
    <h2>Hello!</h2>

    <p class="bio">
      My name is Ilya, and I’m a web designer/developer with a 
      passion for solving real problems using the internet.
      At fourteen, I started teaching myself HTML, and from there
      I’ve grown and immersed myself in other disciplines
      (JavaScript, Java, C#, Ruby, SQL, and more). I have a
      Bachelor of Science in Computer Science from 
      Eastern Connecticut State University, and work full-time 
      as a Web Application Developer in Boston. If you’re a
      small business owner, or thinking of becoming one,
      I’d love to help you expand your web presence through design and development.
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 pad2">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="#services">Services</a></li>
          <li><a href="#projects">Previous Projects</a></li>
          <li><a href="#contact-me">Contact</a></li>
          <li><a href="#purchase-hours">Purchase Hours</a></li>
          <li class="pull-right connect">
            <a href="https://twitter.com/burstcreations" target="_blank">
              <i class="icon-twitter"></i>
            </a>
            <a href="https://facebook.com/burstcreations" target="_blank">
              <i class="icon-facebook"></i>
            </a>
            <a href="mailto:<%= @email %>" target="_blank">
              <i class="icon-envelope-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <section id="services" class="nav-section">
      <h5>My Services</h5>

      <ul class="list">
        <li>Logo Design</li>
        <li>Responsive Web Design</li>
        <li>Blog/CMS Customization</li>
        <li>Web Map Applications</li>
      </ul>

      <p>
        Don't see what you're looking for listed above? 
        <a href="#contact-me">Just ask!</a>
      </p>

      <p class="more">
        *For virtual administrative services, 
        <%= link_to "see Anna", anna_path %>.
      </p>
    </section>

    <section id="projects" class="nav-section">
      <h5>Previous Projects</h5>

      <ul class="list incognito">
        <li>
          <a href="http://plugovoy.com" target="_blank">Plugovoy Photography</a>
          <p>
            Created a new WordPress theme based off of one of the default themes. This project included several revisions, until we had it just the way we wanted.
          </p>
        </li>

        <li>
          <a href="http://blueflashphotography.com" target="_blank">Blueflash Photography</a>
          <p>
            I helped Matt customize his WordPress theme - from replacing the image thumbnail functionality, to styling and fleshing out the blog section. I also worked on customizing his <a href="http://blueflash.smugmug.com/clientspace" target="_blank">SmugMug client space</a>, so that it looks as close to his site as possible.
          </p>
        </li>

        <li>
          <a href="http://7xfit.com/" target="_blank">7xFit</a>
          <p>
            For 7xFit, I customized a WooTheme to provide a responsive and clean look,
            while integrating the existing store into the new site. 
          </p>
        </li>
      </ul>
    </section>

    <section id="contact-me" class="nav-section">
      <h5>Contact Me</h5>
      <%= form_tag({:controller => "admin/messages", :action => "create"}, :method => "post", :class => "row-fluid") %>
        <div class="span12">
          <input class="span4" type="text" name="message[name]" placeholder="Name (required)">
          <input class="span4" type="text" name="message[email]" placeholder="Email (required)">  
          <input class="span4" type="text" name="message[website]" placeholder="Website">

          <textarea class="span8" name="message[message]" placeholder="Message (required)" rows="5"></textarea>
          <input type="hidden" name="userid" value="<%= @id %>">

          <!-- Humanizer -->
          <input id="message_humanizer_answer" name="message[humanizer_answer]" class="span4 btn-block" type="text" placeholder="<%= @message.humanizer_question %> (required)">
          <input id="message_humanizer_question_id" name="message[humanizer_question_id]" type="hidden" value="<%= @message.humanizer_question_id %>">

          <div class="span8">
            <button class="btn btn-primary pull-right" type="submit">Send</button>
          </div>
        </div>        
      </form>
    </section>

    <section id="purchase-hours" class="nav-section last">
      <h5>Purchase Hours</h5>

      <p class="generous">
       *Project pricing is different from the hour 
        packages listed below.<br>
        Please contact me for a project cost estimate.
      </p>

      <p>
        Click to purchase hours for smaller tasks
        or additional updates after project completion.
      </p>

      <!-- 1 Hour PayPal Button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="TSSDBFZRD9NEA">
        <input type="submit" name="submit" value="1 Hour - $50" class="btn btn-primary"/>
      </form>
      
      <!-- 5 Hour PayPal Button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="55QPAYPJJRZXY">
        <input type="submit" name="submit" value="5 Hours - $225 ($45 per hour)" class="btn btn-primary"/>
      </form>
      
      <!-- 10 Hour PayPal Button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="XDNXTGTC432QW">
        <input type="submit" name="submit" value="10 Hours - $420 ($42 per hour)" class="btn btn-primary"/>
      </form>

      <!-- 20 Hour PayPal Button -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="76MBZDZ3A4C7U">
        <input type="submit" name="submit" value="20 Hours - $800 ($40 per hour)" class="btn btn-primary"/>
      </form>

      <p>*Hours expire one year from date of purchase.</p>
      <p class="more">
        **When considering pricing, please keep in mind that one of the benefits of hiring a freelancer is that you are relieved of the burden of paying taxes, health insurance, or office expenses for an employee. These items are accounted for in the prices above.
      </p>
    </section>
  </div>
</div>


<% content_for :scripts do %>
  <script>
    $(document).ready(function () {
      $(".alert").alert();
      $(".navbar").scrollspy({
        offset: 150
      });
      $(".navbar").affix({
        offset: $(".navbar").position()
      });
    });
  </script>
<% end %>
