<!DOCTYPE html>
<html>
  <head>
    <title>Burstcreations</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Averia+Sans+Libre|Lilita+One|Dosis|Oleo+Script|Yesteryear|Gabriela" %>
    <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" %>
    <%= stylesheet_link_tag  "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body <%= yield :body_setup %>>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="notice"><%= flash[:notice] %></span>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="alert alert-error">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
       <span class="notice"><%= flash[:error] %></span>
      </div>
    <% end %>

    <div class="container">
      <nav id="primary" class="row-fluid">
        <h1 class="span12 title text-center"><a href="<%= url_for :root %>">Burstcreations</a></h1>
      </nav>

      <section id="content" class="row-fluid">
        <div class="span12">          
          <%= yield %>
        </div>
      </section>
    </div>

    <%= javascript_include_tag "application" %>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <%= yield :scripts %>
  </body>
</html>
